<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZAP! | Crazy Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="logo">SURA<span>!</span></div>
            <ul class="nav-links">
                <li><a href="/Contact">Contact</a></li>
                <li><a href="/cart" class="cart-btn">Cart (0)</a></li>
                <li><a href="/checkout">Checkout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>STUFF YOU <br><span class="highlight">DON'T NEED</span></h1>
            <p>But you definitely want it anyway.</p>
            <button class="cta">EXPLORE THE CHAOS</button>
        </section>

        <section class="products">
            <div class="product-card">
                <div class="product-img neon-pink"></div>
                <h3>IPhone 14</h3>
                <p>₹9</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>

            <div class="product-card">
                <div class="product-img neon-blue"></div>
                <h3>IPhone 14 Pro</h3>
                <p>₹42.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>

            <div class="product-card">
                <div class="product-img neon-yellow"></div>
                <h3>IPhone 17 Pro Max</h3>
                <p>₹150.00</p>
                <button class="add-to-cart">Add to Cart</button>
            </div>
        </section>
    </main>

</body>
</html>
